/* helpdesk.css */

.add-mentor-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  color: #1eb2a6;
  font-size:20px;
  border: none;
  padding: 30px 50px;
  border-radius: 5px;
  cursor: pointer;
}

.add-mentor-btn:hover {
  background-color: #1eb2a6;
  color:white;
}

.helpdesk {
  text-align: center;
}

.mentor-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mentor-form h2 {
  margin-bottom: 20px;
}

.mentor-form input,
.mentor-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.mentor-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23888888" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.mentor-form button[type="submit"] {
  background-color:#1eb2a6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.mentor-form button[type="submit"]:hover {
  background-color: #1eb2a6;
}
